
.list{
    text-align: left; 
    padding: 15px 0 0 260px; 
    list-style-type: disc;
    color: #7ba500;
}

@media (max-width: 700px) {
    .list{
        padding: 15px 0 0 50px;
    }
}

@media(width:768px) {
    .list{
        padding: 15px 0 0 150px;
    }
}

.every-business{
    background: none;
}